<%= form_for @roster do |f| %>

  <% if @roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% @roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :convoc %><br />
    <%= f.check_box :convoc %>
  </div>
  <div class="field">
    <%= f.label :but %><br />
    <%= f.check_box :but %>
  </div>
  <div class="field">
    <%= f.label :butvilledepart %><br />
    <%= f.text_field :butvilledepart %>
  </div>
  <div class="field">
    <%= f.label :harrivee %><br />
    <%= f.time_select :harrivee, :prompt => {:hour => '22', :minute => '40'} %>
  </div>
  <div class="field">
    <%= f.label :hdepart %><br />
    <%= f.time_select :hdepart, :prompt => {:hour => '17', :minute => '00'} %>
  </div>
  <div class="field">
     <%= f.label :comment %><br />
     <%= f.text_area :comment %>
  </div>

   <div class="field">
   <!--On affiche ici tous les jours de convocation de la mission-->
   <!--Selon le jour, on vérifie si le personnel avait déjà dit ok pour ce jour, la checkbox sera alors cochée par défaut-->
   <!--On ajoute dans paramas un tableau appelé "present" pour lister les jours cochés à traiter par l'action update du controller-->
   <% Convocationjours.where(:mission_id => @roster.mission_id).each do |dconvoc|  %>

   <%= check_box_tag("roster[present][]", dconvoc.id, !Jour.find_by_roster_id_and_convocationjours_id(@roster.id,dconvoc.id).nil?) %>
   <%= label_tag "roster[present][]", dconvoc.jourconvoc %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
