<%= form_for @roster.in_mission_range do |f| %>
  <% if @roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% @roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :convoc %><br />
    <%= f.check_box :convoc %>

    <div class="field">
    <%= f.label :but %><br />
    <%= f.check_box :but %>

     <div class="field">
    <%= f.label :butvilledepart %><br />
    <%= f.text_field :butvilledepart %>

      <h2>Jours de présence</h2>
      <p>
        <%= f.fields_for(:jours) do |jours_form| %>
        <%= jours_form.date_select :jourpresent %>
        <%= unless jours_form.object.new_record?
                  jours_form.check_box('_destroy') + jours_form.label('_destroy', 'Retirer')
            end %>
        <br>
      <% end %>
      </p>

     <div class="field">
           <%= f.label :harrivee %><br />
           <%= f.time_select :harrivee, :prompt => {:hour => '22', :minute => '40'} %>
      </div>
      <div class="field">
           <%= f.label :hdepart %><br />
           <%= f.time_select :hdepart, :prompt => {:hour => '17', :minute => '00'} %>
      </div>
       <div class="field">
           <%= f.label :comment %><br />
           <%= f.text_area :comment %>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
