<p id="notice"><%= notice %></p>

<p>
  <b>Codeactivite:</b>
  <%= @roster.mission_id %>
</p>

<p>
  <b>Personnel:</b>
  <%= @roster.user_id %>
</p>

<p>
  <b>Nb jours présents:</b>
  <%= @roster.jours.count %>
</p>

<p>
  <b>Convocation ?</b>
  <%= @roster.convoc %>
</p>
<p>
   <b> BUT ?</b>
   <%= @roster.but %>
</p>
<p>
   <b>Ville domicile </b>
   <%= @roster.butvilledepart %>
</p>

<p>
   <b>Heure arrivee </b>
   <%= @roster.harrivee %>
</p>

<p>
   <b>Heure Depart </b>
   <%= @roster.hdepart %>
</p>

<p>
   <b>Commentaire </b>
   <%= @roster.comment %>
</p>


<%= link_to 'Modifier', edit_roster_path(@roster) %> |
<%= link_to 'Retour aux SPA', rosters_path %>
