<%#START:form_for%>
<%= nested_form_for @mission do |f| %>
<%#END:form_for%>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "erreurs") %> empêchent d'enregistrer la mission :</h2>

      <ul>
      <% @mission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
      <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
   <div class="field">
    <%= f.label :code_activite %><br />
    <%= f.number_field :code_activite %>
  </div>

    <div class="field">
      <p> La mission est-elle en d'actualité ?
    <%= f.label :encours, 'En cours', :value => true %>
    <%= f.radio_button :encours, true, :checked => true %>
    <%= f.label :encours, 'Non active', :value => false %>
    <%= f.radio_button :encours, false %>
     </p>
  </div>
   <h3> Dates de convocation</h3>
   <ol>​
 	​  <%= f.fields_for :convocationjours do |convocationjours_form| %>​
 	​    <li>  <%= convocationjours_form.date_select :jourconvoc %>  <%=  convocationjours_form.link_to_remove "Supprimer la date" %> </li>
       <% end %>​
    <%= f.link_to_add "Ajouter une date", :convocationjours %>
    </ol>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>