<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

   <div class="field">
    <%= f.label :code_activite %><br />
    <%= f.number_field :code_activite %>
  </div>

   <p>​
 	​  <%= f.fields_for(:convocationjours) do |convocationjours_form| %>​
 	​    <%= convocationjours_form.label :jourconvoc %>​
 	​    <%= convocationjours_form.date_select :jourconvoc %>​
 	​  <% end %>​
 	​  </p>​

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
