<%= csrf_meta_tag %>

<!--header -->
<div id="header-wrap"><div id="header">
	<a name="top"></a>
       <% if user_signed_in? %>
            Connecte en tant que <%= link_to current_user.email, current_user %>. Ce n'est pas vous ? <%= link_to "Deconnexion", destroy_user_session_path, :method => :delete %>
       <% else %>
           <%= link_to "Connexion", new_user_session_path %>
        <% end %>
	<div  id="nav">
		<ul>
			<li><a href="#"><%= link_to "Personnels", users_path %></a></li>
			<li><a href="#"><%= link_to "SPA prévisionnels", rosters_path %></a></li>
			<li><a href="#"><%= link_to "Missions", missions_path %></a></li>
		</ul>
	</div>

<!--/header-->
</div></div>






