<%= csrf_meta_tag %>

<div id="topbanner">
  <div class="container">

    <div id="connex">
      <p>
        <% if user_signed_in? %>
            Connecte en tant que <%= link_to (current_user.mongrade.nom + " " +current_user.nom), current_user %>. Ce n'est pas vous ? <%= link_to "Deconnexion", destroy_user_session_path, :method => :delete %>
        <% else %>
           <%= link_to "Connexion", new_user_session_path %>
        <% end %>
      </p>
    </div>

	<div id="mainnav">
		<ul>
			<li><%= link_to "Personnels", users_path %></li>
			<li><%= link_to "SPA prévisionnels", rosters_path %></li>
			<li><%= link_to "Liste des missions", missions_path %></li>
		</ul>
	</div>
    <div class="clear"></div>
  </div>
</div>
<hr>









